/* Fonts */
@font-face {
	font-family: critterDBFontBold;
	src: url("fonts/FOT-Rodin Pro DB.otf") format("opentype");
}

@font-face {
font-family: critterDBFont;
src: url("fonts/FOT-Rodin Pro M.otf") format("opentype");
}

h1, h2, h3, h4, h5, h6 {
font-family: critterDBFontBold !important;
}

p, a, label, select, span {
font-family: critterDBFont !important;
}

/* Global color vars defined in App.svelte */
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	/* Set in App.svelte */
	/* color: var(--text) !important;
	background-color: var(--bg) !important; */
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--button-dark);
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* General class */
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* Workaround for being unable to style modal in CritterContainer because
of the way svelte components work */
/* Colors hardcoded in CritterContainer.svelte */
/* .modal-content {
	background-color: var(--bg) !important;
	border-color: var(--bg) !important;
} */

.modal-dialog {
	padding-top: 20vh !important;
	padding-bottom: auto !important;
}

.modal-content {
	/* Large radius so modal-body will overlap */
	border-radius: 30em !important;
}

/* Idem as above for navbar */
.navbar {
	background-color: var(--header) !important;
}

/* Default bootstrap classname */
.dropdown-menu {
	background-color: var(--header-light) !important;
}

::-webkit-scrollbar {
	height: 8px;
}
  
::-webkit-scrollbar-track {
	border-radius: 0;
	background: var(--bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: var(--button-dark);
}